
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */



.login-wrapper{
    width: 40%;
    margin:0 auto;
    margin-top: 100px;
    
    background-color: rgba(0,0,0, 0);
    padding: 50px 0 90px 0;
    h5{
        text-align: center;
        color: white;
        margin-top: 50px;
        border-top:  1px solid gray;
        padding-top:30px;
    }
    input{
        color:white;
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 30px;
        
        font-size: 1.5em;
        background-color: rgba(0,0,0, .5);

        
    }
   input[type='submit']{
            background: linear-gradient(#292929, #242424);
        }

}



.post-container{
    width:75%;
    background: linear-gradient(#292929, #242424);
    
    border-radius:10px;
    margin-top: 50px;
    padding:10px;
    h5{
        color:#828282;
        margin-bottom: 0;
    }
    .post-title{
        padding:10px;
       
    }
    .post-content{
        padding: 10px;
    }
    input{
        display: block;
        width:70%;
        line-height: 1em;
        padding: 5px;
        background-color: rgb(48,48,48);
        color:white;
        
    }
    textarea{
        margin-top: 20px;
        resize:vertical;
        background-color: rgb(48,48,48);
        color:white;
        padding:5px;
    }
    .post_content_button{
        color:white;
        width: 60px;
        background-color: red;
    }
}


.pv-container{
    
    color: white;
    background-color: #232323;
    width: 100%;
    
    overflow: auto;
    padding: 10px;
    position: relative;
    
    .pv-date{
        background-color: yellow;
        width: 100%;
        border-radius: 10px;
        p{
            margin: 0;
        }
    }
    .pv-user-info{
        float: left;
        width: 20%;
        
        background: linear-gradient(to bottom, rgba(44,44,44,.8), rgba(0,0,0,1));
        padding: 15px;
        .pv-user-name{
            text-align: center;
        }
        .pv-user-image{
            img{
                
                display: block;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                vertical-align: middle;
                margin: auto;
            }
        }
        .pv-join-date{
            font-size: 12px;
            p{
                text-align: center;
                margin-bottom: 0;
                font-size: 16px;
            }
        }
        .pv-update-date{
            font-size: 12px;
            p{
                text-align: center;
                margin-bottom: 0;
                font-size: 16px;
            }
        }

    }

    .pv-user-post{
        float: left;
        width: 80%;
        height: 300px;
        padding: 15px;
        h5{
            color: white;
            padding: 5px;
            border-bottom: 1px solid white;
        }
    }
}

#reply-bttn{
    width:100px;
    position: absolute;
    bottom: 0px;
    right: 80px;
    img{
        float: left;
        width:40%;
    }
    p{
        float: right;
        width: 60%;
        margin: 0;
    }
    span{
        color: white;
    }
}

#pv-comment-container{
    position: fixed;
    bottom: 0;
    width: 80%;
    display: none;
    margin:auto;
    margin-top: 100px;
    padding: 10px;
    margin-left: 8%;
    box-shadow: -3px -3px 6px rgba(0,0,0,0.12),3px -3px 6px rgba(0,0,0,0.12);
    background-color: rgba(0,0,0,.7);
    #pv-comment-form{
        width: 90%;
        margin: 0 auto;
        textarea{
            width: 100%;
        }
        input[type='submit']{
            float: right;
        }
    }
    p{
        color: white;
    }
}


.user-container{
    color: white;
    height: 450px;
    background-color: rgba(51,51,51);

    .user-left{
        float: left;
        width: 20%;
        background-color: rgb(30,30,30);
        border-radius: 10px;
        padding: 10px;
        p{
            text-align: center;
        }
        img{
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            vertical-align: middle;
            margin: auto;
        }
    }
    .upload-image{
        width: 150px;
        border:1px solid red;
        padding: 4px;
        h5{
            color: white;
        }
        p{
            text-align: center;
            margin:0;
        }
    }
    
    .user-right{
        float: right;
        width: 75%;
        padding: 30px;
        form{
            margin: auto;
            input{
                color: black;
            }
        }
    }
    #post-form{
        display: none;
    }

}


#comment-view{
    width: 80%;
    float: right;
    background-color: rgba(35,35,35, .7);
    box-shadow: -3px -3px 6px rgba(0,0,0,0.12),3px -3px 6px rgba(0,0,0,0.12);
    margin-top: 40px;
    color: white;
    #comment-user-info{
        width: 20%;
        background: -webkit-linear-gradient(top,rgba(44,44,44,.8),#000);
        background: linear-gradient(to bottom,rgba(44,44,44,.8),#000);
        padding: 15px;

        #comment-user-name{

        }
        #comment-user-img{
            img{
                display: block;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                vertical-align: middle;
                margin: auto;
            }
            
            
        }
        #comment-user-date{

        }
    }
    #reply-container{
        width: 70%;
        #reply-text{

        }
    }
}
.post-container{
    width: 100%;
   
   textarea{
        width: 100%; 
    }               
}


.menu{
    position: relative;
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 65px;
    height: 50px;
    padding: 0;
    ul{
        visibility: hidden;
        position: absolute;
        top: 57px;
        width: 65px;
        background: linear-gradient(to top, rgba(44,44,44,.8), rgba(0,0,0,1));
        color: white;
        padding: 0;
        li{
            font-size: 12px;
            width: 100%;
            display: block;
            padding: 7px;
        }
        li:hover{
            font-size: 14px;
        }
    }
}

.profile{
 
    background-image: url(../images/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.forum-title{
    width: 40%;
    height: 50px;
    font-size: 1.5em;
    color: white;
    padding-left: 30px;
}

.user{
    float: left;
    color: white;
    font-size: 16px;
    width: 30%;
    height: 50px;
    text-align: right;
    padding: 10px;
}
.notifications{
    float: right;
    margin-right: 50px;
    background-image: url(../images/notification.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    width: 50px;
    height: 50px;
    vertical-align: center;
}



 @media screen and (min-width: 801px){





body{
    background-image: url(../images/nightsky.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.container{
    /*border: 2px solid red;*/
    overflow: auto;
    margin: auto;
    margin-top: 130px;
    background-color: rgb(48,48,48);
    width: 98%;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: .5em;
    padding-bottom: 100px;

}
.page-location{
    width: 100%;
    color:#828282;
    background-color: rgb(35,35,35);
    padding:5px;
    font-size: 12px;
    line-height: 2.5em;
    border-radius:5px;
    margin-top:20px; 
    margin-bottom: 20px;
    overflow: auto;
    span{
        float: left;
        width: 70%;
        
    }
    a{
            text-decoration: none;
            float: left;
            color:#828282;
        }
    
}


.new-thread{
        
    width: 90px;
    background-color:red;
    border-radius:5px;
    padding:5px;
    
    margin-bottom: 20px;
    cursor: pointer;
    a{
        text-decoration: none;
        font-size: .75em;
        color: white;
    }
}


header{
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(44,44,44,.8), rgba(0,0,0,1));
    height: 4em;
    padding: 15px;
    ul{
        float: left;
        list-style: none;
        width: 100%;
        margin: 0;
        li{
            float: left;
            font-size: 2em;
            cursor: pointer;

        }
    }

    form{

        width: 90%;
        margin: auto;

        input{
            float: left;
            height: 1.5em;
            width: 300px;
            margin:auto;
            color: black;
            padding-left: 1em;
            outline-style: none;
            border-radius:20px;
            position:absolute;
            
        }

    }

}





.forum-container{
    float:left;
    width: 78%;
    height: auto;
    color: white;
    /*border:2px solid orange;*/
    background: linear-gradient(#292929, #242424);

    border-radius: 5px;
 }

.colum-header{
    width: 100%;
    color: white;
    font-size: 11px;
    height: 2em;
    overflow: hidden;
    padding:5px;
    background-color: rgb(35,35,35);
    h6{
        font-size: 11px;
        float:left;
        width:75%;
        color: white;
        margin:0;
    }
    span{
         margin-left: 40px;  
        width:15%;

    }
}
 .forum-column{
    background: linear-gradient(#292929, #242424);
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid gray;

 }

 
.user-picture{
    display: block;
    float: left;
    width: 6%;
    height: 50px;
    margin:0; 
    padding: 4px;
    img{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        /*position: relative;
        top: 50%;
        bottom: 50%;*/
    }
}   


.forum-question{
    float:left;
    width: 72%;
    padding: 6px;
    h3{
        display: block;
        font-size: 1em;
        color:white;
        margin: 0;
         a{
            text-decoration: none;
            color: red;
            font-size: 14px;
        }
    }
    p{
        display: none;
        border: 2px solid red;
        height: 80px;
        font-size: 1.5em;
        overflow:hidden;
        text-overflow:ellipsis;

    }

}

ul{
    margin:0;
    a{
        
        text-decoration: none;
        color: white;
    }

}

.forum-replies{
    float: left;
    width:10%;
    height: 50px;
    font-size: 13px;
    padding: 3px;
    color:#828282;
    li{
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        
    }
}

.last-post{
    float: left;
    width:10%;
    height: 50px;
    font-size: 13px;
    padding: 3px;
    color:#828282;
    margin-top: 0;
    li{
        list-style: none;
        text-decoration: none;
        font-size: 12px;

    }
    .date{
        color:white;
        line-height: 1em;    
    }
}



.user-earnings-wrapper{
    
    /*border: 2px solid white;*/
    width:20%;
  
    border-radius:10px;
    background-color: rgb(35,35,35);
    position:fixed;
    top: 200px;
    float: right;
    right: 22px;
    padding:5px;
    h6{
        color: white;
        background-color: rgb(175,0,0);
        line-height: 2em;
        margin-bottom: 20px;
        text-align: center;
        border-top:10px;
    }

    .seller-earnings{
        
        line-height: 1em;
        overflow: auto;
        padding:3px;
        img{
            display: block;
            float: left;
            width: 15px;
            border-radius:50%;
        }
        p{
            margin:0;
            
            font-size: .6em;
            color: white;
        }
        span{
            float: left;
            color: white;
            font-size: 12px;
        }
        .user{
            margin-left: 3px;
            float:left;
            width: 60%;
        }
        .user-amount{
            float:left;
            width: 35px;
            color:red;
            span{
            float: right;
            color: white;
        }

        }

    }

}

.post-container{
    width: 75%;
   
   textarea{
        width: 100%; 
    }               
}



}

/* Styles for screens upto 800px */
@media screen and (max-width: 800px){

.login-wrapper{
    width: 70%;
    margin:0 auto;
    margin-top: 100px;
    background-color: rgba(0,0,0, 0);
    padding: 50px 0 90px 0;
    h5{
        text-align: center;
        color: white;
        margin-top: 50px;
        border-top:  1px solid gray;
        padding-top:30px;
    }

}


body{
    background-image: url(../images/nightsky.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.container{
    
    overflow: auto;
    margin: auto;
    margin-top: 130px;
    background-color: rgb(48,48,48);
    width: 98%;
    border-radius: 10px;
    padding: .5em;
    

}
.page-location{
    width: 100%;
    color:#828282;
    background-color: rgb(35,35,35);
    padding:5px;
    font-size: 12px;
    line-height: 1.5em;
    border-radius:5px;
    margin-top:20px; 
    margin-bottom: 20px;
    overflow: auto;
    span{
        float: left;
        width: 70%;
    }
    a{
        text-decoration: none;
        float: left;
        color:#828282;
    }
    
}

.new-thread{
        
    width: 90px;
    background-color:red;
    border-radius:5px;
    padding:5px;
    font-size: .75em;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

header{
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(44,44,44,.8), rgba(0,0,0,1));
    height: 2em;
    ul{
        float: left;
        list-style: none;
        width: 100%;
        margin: 0;
        padding-left:0;
        li{
            float: left;
            font-size: 2em;
            cursor: pointer;

        }
    }

    form{

        width: 90%;
        margin: auto;

        input{
            float: left;
            height: 1.5em;
            width: 300px;
            margin:auto;
            color: black;
            padding-left: 1em;
            outline-style: none;
            border-radius:20px;
            position:absolute;
            
        }

    }
}

.menu{
    
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 7%;
    height: 35px;
    padding: 0;
    ul{
        top:36px;
    }

}

.profile{
   
    background-image: url(../images/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    width: 7%;
    height: 35px;
}

.forum-title{
    width: 25%;
    font-size: 1em;
    color: white;
}

.user{
    width: 50%;
    font-size:1em;
    color: white; 
    text-align: right;
}
.notifications{
    float: right;
    
    width: 7%;
    
    background-image: url(../images/notification.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    height: 35px;
    margin: 0;
}


.container{
    margin-top: 50px;
    padding-bottom: 100px;
}

.new-thread{
    a{
       text-decoration: none;
       color: black; 
    }
    
}
.forum-container{
    float:left;
    width: 100%;
    height: auto;
    color: white;
    background: linear-gradient(#292929, #242424);

    border-radius: 5px;
 }

.colum-header{
    width: 100%;
    color: white;
    font-size: 11px;
    height: 2em;
    overflow: hidden;
    padding:5px;
    h6{
        font-size: 11px;
        float:left;
        width:78%;
        color: white;
        margin:0;
    }
    span{
        margin-left: 5px;  
        width:10%;
        font-size: 10px;

    }
}
 .forum-column{
    background-color: rgb(35,35,35);
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid gray;
 }

.user-picture{
    
    float: left;
    width: 8%;
    height:50px;
    margin:0; 
    padding: 5px;
    img{
        border-radius: 50%;
        width: 40px;
        height: 35px;
    }
}   


.forum-question{
    float:left;
    width: 72%;
    padding: 3px;
    padding-top: 7px;
    h3{
        display: block;
        font-size: 12px;
        color:white;
         a{
            text-decoration: none;
            color: red;
            font-size: 14px;
        }
    }
    p{
        display: none;
        border: 2px solid red;
        height: 40px;
        font-size: .5em;
        overflow:hidden;
        text-overflow:ellipsis;

    }
    
}

ul{
    margin:0;
    a{
        margin-left: 5px;
        text-decoration: none;
        color: white;
    }
}

.forum-replies{
    display: none;
}

.last-post{
    display: inline-block;
    float: left;
    width:20%;
    height: 50px;
    font-size: 13px;
    padding: 0;
    color:white;
    li{
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        margin-left: 5px;
    }
}



.user-earnings-wrapper{
    display: none;
}

.pv-container{
    height: auto;
    .pv-title{
        font-size:14px;
        p{
            margin: 0;
        } 


    }
    .pv-user-info{
        width: 15%;
        padding: 5px;
        .pv-user-name{
            font-size: 12px;
        }
        .pv-user-image{
            img{
                width: 50px;
                height: 50px;
            }

        }  
        .pv-join-date{
            font-size: .3em;
            p{
                font-size:12px;
            }
        }
        .pv-update-date{
            font-size: .3em;
            p{
                font-size:12px;
            }
        } 
        
    }
}
.pv-user-post{
    margin-left: 1em;

    .s-title{
    font-size: 1em;
    margin-bottom: 0;
    }

    p{
    font-size: .9em;
    }
}


.user-container{
    .user-left{
        width: 30%;
    }
    .user-right{
        width: 70%;
    }
}

}





/* Styles for screens upto 480px */
@media screen and (max-width: 480px){

.login-wrapper{
    width: 80%;
    margin:0 auto;
    margin-top: 80px;
    background-color: rgba(0,0,0, 0);
    padding: 50px 0 90px 0;
    color: white;
    h5{
        font-size: 13px;
        text-align: center;
        color: white;
        margin-top: 50px;
        border-top:  1px solid gray;
        padding-top:30px;
    }   

}

body{
     background-image: url(../images/nightsky.jpg);
    background-repeat: no-repeat;
    background-size:cover;
   
}

.new-thread{
    width: 80px;
    a{
        font-size: 10px;
    }
}
.container{
    /*border: 2px solid red;*/
    overflow: auto;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(48,48,48);
    width: 100%;
    
    padding:0;
    padding-bottom: 30px;
}
/*Header*/
header{
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(#595454, #242424, .2);
    height: 45px;
    ul{
        float: left;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;
        li{
            float: left;
            font-size: 2em;
  
        }
        .menu{
            width: 12%;
            height: 40px;
        }
        .profile{
            width: 12%;
            height: 40px;
            
        }
        .forum-title{
                width: 15%;
                height: 45px;
                font-size: 10px;
                padding: 15px 5px;
            }
        .user{
            width: 45%;
            height: 45px;
            text-align: right;
            font-size: 10px;
            padding: 15px 5px;
        }
        .notifications{
            width: 12%;
            height: 40px;
        }
    }

    form{
        width: 90%;
        margin: auto;

        input{
            height: 1.5em;
            width: 90%;
            margin:auto;
            color: black;
         
            outline-style: none;
            border-radius:20px;
        }

    }
}




/* Home view*/

.forum-container{
    width: 100%;
    .forum-column{
    
    overflow: hidden;
    }
    .colum-header{
        width: 100%;
        color: white;
        font-size: 11px;
        height: 2em;
        overflow: hidden;
        padding:5px;
        h6{
            font-size: 11px;
            float:left;
            width:70%;
            color: white;
            margin:0;
        }
        span{
            margin-left: 15px;  
            width:20%;
        }
    }
    .user-picture{
        display: block;
        float: left;
        width: 10%;
        margin:0; 
        padding: 4px;
        img{
            border-radius: 50%;
            width: 35px;
            height: 35px;
        }
    }   
    .forum-question{
        float:left;
        width: 90%;
        height: 60%;
        padding: 3px;
        padding-top: 7px;         
        h3{
            display: block;
            font-size: 14px;
            color:white;
            margin-bottom: 0;
            text-overflow:ellipsis;
        }    
        p{
            display: none;
            border: 2px solid red;
          
            font-size: .7em;
            overflow:hidden;
            
        }
    }

    ul{
        list-style: none;
        margin:0;
        p{
            display: none;
        }
        .views{
                    display: none;
                }
        

        
    }
    .forum-replies{
        display: none;
    }
    .last-post{
        float:left;
        width:90%;
        height: 40%;
        .author{
            float: left;
            width: 60%;
            font-size: 12px;
            color: white;
            text-align: right;
        }
        .date{
            float: left;
            text-align: left;
            width: 35%;
            font-size: 12px;
            color: white;
            
        }
    }

}

.colum-header{
    span{
        display: none;
    }
}




.user-earnings-wrapper{
    display: none;
    position:absolute;
    top: 150px;
    width: 100%;
    margin: auto;
    h6{
        display: none;
        background-color: rgb(175,0,0);
        line-height: 2em;
        vertical-align: center;
    }

}
.page-location{
    display: none;
}

/*thread View*/
.pv-container{
    padding: 5px;
    margin-top: 55px;
    .pv-title{
        position: fixed;
        width: 100%;
        top: 34px;
        background-color: gray;
        padding: 5px;
    }
    .pv-user-info{
        width:100%;
        .pv-user-image{
            width: 20%;
            float: left;
        }
        .pv-user-name{
            width:70%;
            float: right;
            text-align: left;
            p{
                margin: 0;
            }
        }
        
        .pv-join-date{
            display: none;
        }
        .pv-update-date{
            display: none;
        }
    }
    .pv-user-post{
        width: 100%;
        height: auto;
        margin:0;
        
    }
    #reply-bttn{
            right: 10px;
        }
}

/*Comments view*/

#comment-view{
    width: 95%;
    #comment-user-info{
        padding: 5px;
        width: 100%;
        height: 30px;
        #comment-user-name{
            float: right;
            width: 70%;
        }
        #comment-user-img{
            width: 20%;
            img{
                width: 25px;
                height: 25px;
                float: left;

            }
        }
    }
    #reply-container{
        width: 100%;
    }
}

#pv-comment-container{
    width: 100%;
    margin-left: 0;
    #pv-comment-form{
        p{
            margin-bottom: 0;
        }
    }
}

.user-container{
    margin-top: 36px;
    background-color: rgba(51,51,51,.9);
    .user-left{
        width: 100%;
        .user-left-img{
            width: 30%;
            float: left;
            img{
                float: left;
                width: 80px;
                height: 80px;
                padding: 5px;
            }
        }
        .user-left-name{
            float: right;
            width: 70%;
            p{
                text-align: left;
                margin-bottom: 0;
            }
        }
        .user-left-join{
            width: 70%;
            float: right;
            p{
                text-align: left;
                margin-bottom: 0;
            }
        }
        .user-left-recent{
            width: 70%;
            float: right;
            p{
                text-align: left;
                margin-bottom: 0;
            }
        }
        
    }
    .user-right{
        width: 100%;
        .upload-image{

            border: 1px solid blue;
            width: 100px;
            margin: auto;
            margin-top: 10px;
            padding: 5px;
            p{
                margin: 0;
                font-size: .7em;
            }
        }
        form{
            display: none;
            width: 95%;
            margin:auto;
            margin-top: 40px;
            h5{
                color: white;
            }
        }
    }
}

}



